<div class="row mt-4">
  <div class="col-3 text-center">
    Current temperature: <p class="fs-3"><%= number_with_precision(record.temp, precision: 2) %></p>
  </div>
  <div class="col-3 text-center">
    Feels like: <p class="fs-3"><%= number_with_precision(record.feels_like, precision: 2) %></p>
  </div>
  <div class="col-3 text-center">
    Min temperature: <p class="fs-3"><%= number_with_precision(record.temp_min, precision: 2)  %></p>
  </div>
  <div class="col-3 text-center">
    Max temperature: <p class="fs-3"><%= number_with_precision(record.temp_max, precision: 2) %></p>
  </div>
</div>
